global:
  domain: crucible.local
  namespace: default
  version: "0.0.0"
  infraHelmRelease: infra
  security:
    allowInsecureImages: true

nfs-server-provisioner:
  persistence:
    enabled: true

ingress-nginx:
  controller:
    config:
      hsts: "false"
      annotations-risk-level: critical
    allowSnippetAnnotations: true
    updateStrategy:
      type: RollingUpdate
  tcp:
    2049: "{{ .Release.Namespace }}/{{ .Release.Name }}-nfs-server-provisioner:2049"

postgresql:
  image:
    registry: docker.io
    repository: postgres
    tag: "16"
  env:
    vars:
      POSTGRES_USER: "postgres"
      POSTGRES_DB: "postgres"
    fromSecret:
      # The self-hosters postgres chart does not support templating here
      POSTGRES_PASSWORD:
        from: crucible-postgresql
        key: postgres-password
  persistence:
    enabled: true
    annotations: {}
    storageClass: null
    accessModes:
      - ReadWriteOnce
    size: "1Gi"
    selector: null

keycloak:
  image:
    repository: bitnamilegacy/keycloak
  auth:
    adminUser: "keycloak-admin"
    existingSecret: '{{ include "crucible.fullname" . }}-auth'
  proxyHeaders: xforwarded
  httpRelativePath: /keycloak/
  ingress:
    enabled: true
    ingressClassName: nginx
    hostname: "{{ .Values.global.domain }}"
    annotations:
      cert-manager.io/cluster-issuer: "{{ .Values.global.infraHelmRelease }}-issuer"
      nginx.ingress.kubernetes.io/server-snippet: |
        location ~ ^/keycloak/?$ {
          return 302 $scheme://$host/keycloak/admin/crucible/console/;
        }
    tls: true
  extraEnvVars:
  - name: KEYCLOAK_EXTRA_ARGS
    value: "--import-realm"
  extraVolumes:
    - name: realm-import
      configMap:
        name: '{{ include "crucible.fullname" . }}-config-cli'
  extraVolumeMounts:
    - name: realm-import
      mountPath: /opt/bitnami/keycloak/data/import
      readOnly: true
  postgresql:
    enabled: false
  externalDatabase:
    host: "{{ .Release.Name }}-postgresql"
    user: postgres
    database: keycloak
    existingSecret: "{{ .Release.Name }}-postgresql"
    existingSecretPasswordKey: postgres-password

topomojo:
  topomojo-api:
    ingress:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: "{{ .Values.global.infraHelmRelease }}-issuer"
        nginx.ingress.kubernetes.io/proxy-body-size: 6g
      hosts:
        - host: "{{ .Values.global.domain }}"
          paths:
            - path: /topomojo/api
              pathType: ImplementationSpecific
            - path: /topomojo/hub
              pathType: ImplementationSpecific
            - path: /topomojo/docs
              pathType: ImplementationSpecific
      tls:
        - hosts:
            - "{{ .Values.global.domain }}"
          secretName: '{{ include "crucible.fullname" . }}-cert'
    storage:
      existing: '{{ include "crucible.fullname" . }}-nfs'
    existingSecret: '{{ include "crucible.fullname" . }}-custom'
    customStart:
      command: ["/bin/sh"]
      args: ["/home/app/start/start.sh"]
      binaryFiles: {}
      files:
        start.sh: |
          #!/bin/sh
          cd /home/app && SSL_CERT_FILE=/home/app/conf/cacert.crt dotnet TopoMojo.Api.dll
    env:
      PathBase: /topomojo
      Database__Provider: PostgreSQL
      Database__AdminName: Crucible Administrator
      FileUpload__IsoRoot: /mnt/tm
      FileUpload__TopoRoot: /mnt/tm
      FileUpload__DocRoot: /mnt/tm/_docs
      Oidc__Authority: "https://{{ .Values.global.domain }}/keycloak/realms/crucible"
      Oidc__Audience: topomojo
      OpenApi__Client__AuthorizationUrl: "https://{{ .Values.global.domain }}/realms/crucible/protocol/openid-connect/auth"
      OpenApi__Client__TokenUrl: "https://{{ .Values.global.domain }}/realms/crucible/protocol/openid-connect/token"
      OpenApi__Client__ClientId: topomojo.api
      Headers__Cors__Origins__0: https://{{ .Values.global.domain }}
      Headers__Forwarding__TargetHeaders: All
      # Core__ConsoleHost: "{{ .Values.global.domain }}/console"
      # Pod__ConsoleUrl: "{{ .Values.global.domain }}/console"
  topomojo-ui:
    ingress:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: "{{ .Values.global.infraHelmRelease }}-issuer"
        nginx.ingress.kubernetes.io/proxy-body-size: 6g
      hosts:
        - host: "{{ .Values.global.domain }}"
          paths:
            - path: /topomojo
              pathType: ImplementationSpecific
      tls:
        - hosts:
            - "{{ .Values.global.domain }}"
          secretName: '{{ include "crucible.fullname" . }}-cert'
    basehref: /topomojo
    settingsYaml:
      appname: TopoMojo
      oidc:
        authority: https://{{ .Values.global.domain }}/keycloak/realms/crucible
        client_id: topomojo.ui
        redirect_uri: https://{{ .Values.global.domain }}/topomojo/oidc
        silent_redirect_uri: https://{{ .Values.global.domain }}/topomojo/oidc-silent.html
        post_logout_redirect_uri: https://{{ .Values.global.domain }}/topomojo
        response_type: code
        scope: profile topomojo
        automaticSilentRenew: true
        includeIdTokenInSilentRenew: false
        filterProtocolClaims: true
        loadUserInfo: true
        accessTokenExpiringNotificationTime: 120
        monitorSession: false
        useLocalStorage: true
