global:
  domain: crucible
  namespace: default
  version: "0.0.0"
  security:
    allowInsecureImages: true

nfs-server-provisioner:
  persistence:
    enabled: true

ingress-nginx:
  controller:
    config:
      hsts: "false"
      annotations-risk-level: critical
    allowSnippetAnnotations: true
    updateStrategy:
      type: RollingUpdate
  tcp:
    2049: "{{ .Release.Namespace }}/{{ .Release.Name }}-nfs-server-provisioner:2049"

postgresql:
  image:
    registry: docker.io
    repository: postgres
    tag: "16"
  env:
    vars:
      POSTGRES_USER: "postgres"
      POSTGRES_DB: "postgres"
    fromSecret:
      # The self-hosters postgres chart does not support templating here
      POSTGRES_PASSWORD:
        from: crucible-postgresql
        key: postgres-password
  persistence:
    enabled: true
    annotations: {}
    storageClass: null
    accessModes:
      - ReadWriteOnce
    size: "1Gi"
    selector: null

pgadmin4:
  fullnameOverride: crucible-pgadmin
  existingSecret: crucible-pgadmin
  env:
    email: pgadmin@crucible.dev
    contextPath: /pgadmin
    variables:
      - name: PGADMIN_CONFIG_UPGRADE_CHECK_ENABLED
        value: "False"
      - name: PGADMIN_CONFIG_SSL_VERIFY
        value: "False"
  serverDefinitions:
    enabled: true
    resourceType: Secret
    servers:
      crucible-postgres:
        Name: "Crucible Postgres"
        Group: "Servers"
        Host: "{{ .Release.Name }}-postgresql"
        Port: "5432"
        Username: "postgres"
        SSLMode: "prefer"
        MaintenanceDB: "postgres"
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - host: "{{ .Values.global.domain }}"
        paths:
          - path: /pgadmin
            pathType: Prefix
    tls:
      - hosts:
          - "{{ .Values.global.domain }}"
        secretName: crucible-cert

keycloak:
  image:
    repository: bitnamilegacy/keycloak
  auth:
    adminUser: "keycloak-admin"
    existingSecret: '{{ include "crucible.fullname" . }}-auth'
  proxyHeaders: xforwarded
  httpRelativePath: /keycloak/
  ingress:
    enabled: true
    ingressClassName: nginx
    hostname: "{{ .Values.global.domain }}"
    annotations:
      nginx.ingress.kubernetes.io/server-snippet: |
        location ~ ^/keycloak/?$ {
          return 302 $scheme://$host/keycloak/admin/crucible/console/;
        }
    tls: true
    extraTls:
      - hosts:
          - "{{ .Values.global.domain }}"
        secretName: crucible-cert
  extraEnvVars:
    - name: KEYCLOAK_EXTRA_ARGS
      value: "--import-realm"
  extraVolumes:
    - name: realm-import
      configMap:
        name: '{{ include "crucible.fullname" . }}-config-cli'
  extraVolumeMounts:
    - name: realm-import
      mountPath: /opt/bitnami/keycloak/data/import
      readOnly: true
  postgresql:
    enabled: false
  externalDatabase:
    host: "{{ .Release.Name }}-postgresql"
    user: postgres
    database: keycloak
    existingSecret: "{{ .Release.Name }}-postgresql"
    existingSecretPasswordKey: postgres-password

topomojo:
  topomojo-api:
    ingress:
      enabled: true
      className: nginx
      annotations:
        nginx.ingress.kubernetes.io/proxy-body-size: 6g
      hosts:
        - host: "{{ .Values.global.domain }}"
          paths:
            - path: /topomojo/api
              pathType: ImplementationSpecific
            - path: /topomojo/hub
              pathType: ImplementationSpecific
            - path: /topomojo/docs
              pathType: ImplementationSpecific
      tls:
        - hosts:
            - "{{ .Values.global.domain }}"
          secretName: crucible-cert
    storage:
      existing: '{{ include "crucible.fullname" . }}-nfs'
    existingSecret: '{{ include "crucible.fullname" . }}-custom'
    customStart:
      command: ["/bin/sh"]
      args: ["/home/app/start/start.sh"]
      binaryFiles: {}
      files:
        start.sh: |
          cd /home/app && SSL_CERT_FILE=/home/app/conf/cacert.crt dotnet TopoMojo.Api.dll
    env:
      PathBase: /topomojo
      Database__Provider: PostgreSQL
      FileUpload__IsoRoot: /mnt/tm
      FileUpload__TopoRoot: /mnt/tm
      FileUpload__DocRoot: /mnt/tm/_docs
      Oidc__Authority: https://{{ .Values.global.domain }}/keycloak/realms/crucible
      Oidc__Audience: topomojo
      Oidc__MetadataAddress: https://{{ .Values.global.domain }}/keycloak/realms/crucible/.well-known/openid-configuration
      Oidc__RequireHttpsMetadata: false
      OpenApi__Client__AuthorizationUrl: https://{{ .Values.global.domain }}/keycloak/realms/crucible/protocol/openid-connect/auth
      OpenApi__Client__TokenUrl: https://{{ .Values.global.domain }}/keycloak/realms/crucible/protocol/openid-connect/token
      OpenApi__Client__ClientId: topomojo.api
      Headers__Cors__Origins__0: https://{{ .Values.global.domain }}
      Headers__Forwarding__TargetHeaders: All
      # Core__ConsoleHost: "{{ .Values.global.domain }}/console"
      # Pod__ConsoleUrl: "{{ .Values.global.domain }}/console"
  topomojo-ui:
    ingress:
      enabled: true
      className: nginx
      annotations:
        nginx.ingress.kubernetes.io/proxy-body-size: 6g
      hosts:
        - host: "{{ .Values.global.domain }}"
          paths:
            - path: /topomojo
              pathType: ImplementationSpecific
      tls:
        - hosts:
            - "{{ .Values.global.domain }}"
          secretName: crucible-cert
    basehref: /topomojo
    settingsYaml:
      appname: TopoMojo
      oidc:
        authority: https://{{ .Values.global.domain }}/keycloak/realms/crucible
        client_id: topomojo.ui
        redirect_uri: https://{{ .Values.global.domain }}/topomojo/oidc
        silent_redirect_uri: https://{{ .Values.global.domain }}/topomojo/oidc-silent.html
        post_logout_redirect_uri: https://{{ .Values.global.domain }}/topomojo
        response_type: code
        scope: openid profile topomojo
        automaticSilentRenew: true
        includeIdTokenInSilentRenew: false
        filterProtocolClaims: true
        loadUserInfo: true
        accessTokenExpiringNotificationTime: 120
        monitorSession: false
        useLocalStorage: true

player:
  player-api:
    certificateMap: "crucible-ca-cert"
    ingress:
      enabled: true
      className: nginx
      annotations:
        nginx.ingress.kubernetes.io/proxy-read-timeout: "86400"
        nginx.ingress.kubernetes.io/proxy-send-timeout: "86400"
        nginx.ingress.kubernetes.io/use-regex: "true"
      hosts:
        - host: "{{ .Values.global.domain }}"
          paths:
            - path: /player/(hubs|swagger|api)
              pathType: ImplementationSpecific
      tls:
        - hosts:
            - "{{ .Values.global.domain }}"
          secretName: crucible-cert
    existingSecret: "{{ .Release.Name }}-player-api-custom"
    env:
      PathBase: /player
      Authorization__Authority: https://{{ .Values.global.domain }}/keycloak/realms/crucible
      Authorization__AuthorizationUrl: https://{{ .Values.global.domain }}/keycloak/realms/crucible/protocol/openid-connect/auth
      Authorization__TokenUrl: https://{{ .Values.global.domain }}/keycloak/realms/crucible/protocol/openid-connect/token
      Authorization__MetadataAddress: https://{{ .Values.global.domain }}/keycloak/realms/crucible/.well-known/openid-configuration
      Authorization__AuthorizationScope: "player"
      Authorization__ClientId: player.api
      Authorization__RequireHttpsMetadata: "false"
      CorsPolicy__Origins__0: https://{{ .Values.global.domain }}
      SSL_CERT_FILE: /usr/local/share/ca-certificates/crucible-dev.crt
      SSL_CERT_DIR: /usr/local/share/ca-certificates
  player-ui:
    ingress:
      enabled: true
      className: nginx
      hosts:
        - host: "{{ .Values.global.domain }}"
          paths:
            - path: /player
              pathType: ImplementationSpecific
      tls:
        - hosts:
            - "{{ .Values.global.domain }}"
          secretName: crucible-cert
    env:
      APP_BASEHREF: /player
    settingsYaml:
      ApiUrl: https://{{ .Values.global.domain }}/player
      OIDCSettings:
        authority: https://{{ .Values.global.domain }}/keycloak/realms/crucible
        client_id: player.ui
        redirect_uri: https://{{ .Values.global.domain }}/player/auth-callback
        post_logout_redirect_uri: https://{{ .Values.global.domain }}/player
        response_type: code
        scope: openid profile player
        automaticSilentRenew: true
        silent_redirect_uri: https://{{ .Values.global.domain }}/player/auth-callback-silent.html
      NotificationsSettings:
        url: https://{{ .Values.global.domain }}/player/hubs
  vm-api:
    certificateMap: "crucible-ca-cert"
    ingress:
      enabled: true
      className: nginx
      hosts:
        - host: "{{ .Values.global.domain }}"
          paths:
            - path: /vm/(notifications|hubs|api|swagger)
              pathType: ImplementationSpecific
      tls:
        - hosts:
            - "{{ .Values.global.domain }}"
          secretName: crucible-cert
    existingSecret: "{{ .Release.Name }}-vm-api-custom"
    env:
      PathBase: /vm
      VmUsageLogging__Enabled: "true"
      Authorization__Authority: https://{{ .Values.global.domain }}/keycloak/realms/crucible
      Authorization__AuthorizationUrl: https://{{ .Values.global.domain }}/keycloak/realms/crucible/protocol/openid-connect/auth
      Authorization__TokenUrl: https://{{ .Values.global.domain }}/keycloak/realms/crucible/protocol/openid-connect/token
      Authorization__RequireHttpsMetadata: "false"
      Authorization__ClientId: player.vm.api
      ClientSettings__urls__playerApi: https://{{ .Values.global.domain }}/player
      CorsPolicy__Origins__0: https://{{ .Values.global.domain }}
  vm-ui:
    ingress:
      enabled: true
      className: nginx
      hosts:
        - host: "{{ .Values.global.domain }}"
          paths:
            - path: /vm
              pathType: ImplementationSpecific
      tls:
        - hosts:
            - "{{ .Values.global.domain }}"
          secretName: crucible-cert
    env:
      APP_BASEHREF: /vm
    settingsYaml:
      ApiUrl: https://{{ .Values.global.domain }}/vm/api
      ApiPlayerUrl: https://{{ .Values.global.domain }}/player
      UserFollowUrl: https://{{ .Values.global.domain }}/console/user/{userId}/view/{viewId}/console
      OIDCSettings:
        authority: https://{{ .Values.global.domain }}/keycloak/realms/crucible
        client_id: player.vm.ui
        redirect_uri: https://{{ .Values.global.domain }}/vm/auth-callback
        post_logout_redirect_uri: https://{{ .Values.global.domain }}/vm
        response_type: code
        scope: openid profile player player-vm
        automaticSilentRenew: true
        silent_redirect_uri: https://{{ .Values.global.domain }}/vm/auth-callback-silent.html
  console-ui:
    ingress:
      enabled: true
      className: nginx
      hosts:
        - host: "{{ .Values.global.domain }}"
          paths:
            - path: /console
              pathType: ImplementationSpecific
      tls:
        - hosts:
            - "{{ .Values.global.domain }}"
          secretName: crucible-cert
    env:
      APP_BASEHREF: /console
    settingsYaml:
      ConsoleApiUrl: https://{{ .Values.global.domain }}/vm
      OIDCSettings:
        authority: https://{{ .Values.global.domain }}/keycloak/realms/crucible
        client_id: player.vm.console.ui
        redirect_uri: https://{{ .Values.global.domain }}/console/auth-callback
        post_logout_redirect_uri: https://{{ .Values.global.domain }}/console
        response_type: code
        scope: openid profile player player-vm
        automaticSilentRenew: true
